<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>Are you sure you want to delete this Post?</header>
<div class="card-body rounded-4 border border-dark" >
    <div class="card-header bg-transparent border-dark" th:if="${p.user}" >
            <span th:text="${p.user.fullName != null ?
                        p.user.fullName : p.user.username}">User</span>
    </div>
    <h5 class="card-title" th:text="${p.title}">
        Special title treatment</h5>
    <p class="card-text content" th:utext="${p.content}">
        With supporting text below as a natural lead-in to additional content.</p>
    <div class="card-footer bg-transparent border-dark date" th:text="${#dates.format(p.dateTime, 'dd-MMM-yyyy')}">Footer
        <b th:text="${execInfo.now.time}"></b>
    </div>

    <a href="" class="btn btn-primary">
        Delete
    </a>
</div>
</body>
</html>