<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Blog Post</title>
    <link th:href="@{/CSS/Style.css}" type="text/css" rel="stylesheet" >
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="WIN" >
    <img src="../static/IMG/site-logo_whiteCFT.png"  th:src="@{/IMG/site-logo_whiteCFT.png}" alt="CFT Hub Logo">
</div>
<nav class="navbar navbar-expand-lg bg-light, topbanner">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="nav nav-pills nav-fill" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button type="button" class="btn btn-warning" >
                        <a class="nav-link" th:href="@{/posts/User}">Posts</a>
                    </button>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-warning">
                    <a class="nav-link" th:href="@{showNewPostForm}">New Post</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="btn btn-warning">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="d-grid gap-3">
    <div class="p-2 "></div>
    <div class="p-2 "></div>
    <div class="p-2 "></div>
    <div class="p-2 "></div>
    <div class="p-2 "></div>
    <div class="p-2 "></div>
    <div class="p-2 "></div>
    <div class="p-2 "></div>
</div>

<div class="container">
    <form action="#" th:action="@{/create}" th:object="${blogPost}" method="POST">
        <input type="text" th:field="*{title}" placeholder="Post title" class="form-control mb-4 col-4">

        <input type="text" th:field="*{content}" placeholder="Post Content" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-warning col-2"> Save Post</button>
    </form>

    <hr>

<!--    <a th:href="@{/posts/User.html}"> User's Home</a>-->
</div>
</body>
</html>