.WIN{
    background: url("../IMG/angryimg.png") no-repeat ;
    position: fixed;
    background-size: cover;
    width: 100%;
    height: 250px;
    z-index: -1;


}

img{
    margin: 3% auto auto;
    display: block;
    width: 35%;
    height: 85%;
}


h1{
    z-index: 5;

}

/*.formError {*/
/*    color: red;*/
/*    font-style: italic;*/
/*}*/

.container{
    background-color: linear-gradient(to-right, #3A1027, orange);
}

#card:nth-child(even){
    background-color: linear-gradient(to-right, white, orange);
}