.WIN{
    background: url("../IMG/angryimg.png") no-repeat ;
    position: fixed;
    background-size: cover;
    width: 100%;
    height: 250px;
    /*opacity: 80%;*/
    z-index: -1;


}

img{
    margin: auto;
    margin-top: 5%;
    display: block;
    width: 35%;
    height: 70%;
    image-rendering: smooth;

}

h1{
    z-index: 5;
    /*opacity: 100%;*/
}

.formError {
    color: red;
    font-style: italic;
}
